{% extends 'layout/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}

    <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">            <h1 class="display-4 fst-italic">Sign Up</h1><br/>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-md btn-outline-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
