body {
    font-family: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Georgia, "Times New Roman", serif;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

/* header */
.newsapp-header {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.newsapp-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.newsapp-header-logo:hover {
    text-decoration: none;
}


.display-4 {
    font-size: 2.5rem;
}

/* nav */
.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

/* banner */
.bg-dark {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 43, 100, .9), rgba(0, 10, 23, 1)), url('../images/newspaper_bg.jpg');
    background-size: cover;
    background-blend-mode: luminosity;
    color: #f2f2f2;
}

/* cards */
.card-text {
    /*white-space: nowrap;*/
    /*width: 95%;*/
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* aside section  */
.aside-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 43, 100, .9), rgba(0, 10, 23, 1)), url('../images/newspaper_bg.jpg');
    background-size: cover;
    background-blend-mode: luminosity;
    width: 300px;
    margin: auto;
    color: #f2f2f2;
    text-transform: capitalize;
    line-height: 2;
}

.aside-content h4 {
    font-weight: bold;
}

/* blog posts */
.post-container,
.post-banner {
    max-width: 800px;
    margin: auto;
}

.post-container a {
    color: #f2f2f2;
}

.post-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

.post-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.blog-post-title {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.post-body {
    margin-bottom: 2.5rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.post-container > {
    margin: 12px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.post-image {
    height: 500px;
    overflow: hidden;
    margin: 2rem 0 4rem 0;
    border-radius: .25rem;
}

.post-image img {
    filter: grayscale(100%);
    transition: transform .5s ease;
}

.post-image:hover img {
    transform: scale(1.2);
    filter: none;
}

/* Comments */
.comments {
    max-width: 800px;
    margin: auto;
}

/* Footer */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

