body {
    font-family: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    /*overflow-x: hidden;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Georgia, "Times New Roman", serif;
    text-transform: uppercase;
}

/* header */

.newsapp-header {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    justify-content: space-evenly;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.newsapp-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.newsapp-header-logo:hover {
    text-decoration: none;
}


.display-4 {
    font-size: 2.5rem;
}

/* nav */

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}


/* cards */

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* blog posts */

.post-container a {
    color: #f2f2f2;
}

.post-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

.post-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.blog-post-title {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.post-body {
    margin-bottom: 2.5rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.post-container > {
    margin: 12px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/* [1] The container */
.post-image {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    margin: 2rem 0 4rem 0;
    border-radius: .25rem;
}

/* [2] Transition property for smooth transformation of images */
.post-image img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.post-image:hover img {
    transform: scale(1.5);
}


/* Footer */

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

