{% extends 'layout/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">
            <h1 class="display-4 fst-italic">Contact</h1>
            <p class="lead my-3">
                Thank you for visiting and experiencing our capstone project. This is still a work in progress so please
                feel free to share any bugs or comments directly with our developers.
            </p>
            <hr/>
        </div>
        <div class="contact-list">
            <ul>
                <li>Joseph Dubon - Full Stack Developer
                    <ul>
                        <li><a href="mailto:josephdubon@pm.me">josephdubon@pm.me</a></li>
                    </ul>
                </li>
                <br/>
                <li>Chris Stranger - Full Stack Developer
                    <ul>
                        <li><a href="mailto:chrisstranger1@gmail.com">chrisstranger1@gmail.com</a></li>
                    </ul>
                </li>
                <br/>
                <li>Santiago Toro - Full Stack Developer
                    <ul>
                        <li><a href="mailto:tiagoelcoder@gmail.com">tiagoelcoder@gmail.com</a></li>
                    </ul>
                </li>
                <br/>
                <li>Eleanor Hall - Full Stack Developer
                    <ul>
                        <li><a href="mailto:ruthhall97@gmail.com">ruthhall97@gmail.com</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    </div>

{% endblock %}