{% extends 'layout/base.html' %}

{% block title %}
    Forum
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">
            <h1 class="display-4 fst-italic">Forum</h1>
            <p class="lead my-3">
                Thank you for visiting and experiencing our capstone project. This is still a work in progress so please
                feel free to share any bugs or comments directly with our developers.
            </p>
        </div>
        <hr/>
        <div class="post-container">
            <h2> {{ discussion.title }} about <a href="/post/{{ discussion.post.id }}">{{ discussion.post.title }}</a>
            </h2>
            {% if discussion.status %}
                <p>Open</p>
            {% else %}
                <p>Closed</p>
            {% endif %}
            <span>{{ favs }} people saved this.</span>
            {% if is_faved %}
                <span><a href="/favforum/{{ discussion.id }}">Unsave</a></span>
            {% else %}
                <span><a href="/favforum/{{ discussion.id }}">Save</a></span>
            {% endif %}
            <br>
            <a href="/profile/{{ discussion.user.id }}">>by: {{ discussion.user }}</a> </small>
            <br/>
            <hr>
            <br/>
            <div>
                <p>
                    {{ discussion.body }}
                </p>
            </div>
            <hr>
            <div class="comments">
                <h3>{{ lenght }} comments</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div>
                {% for c in comments %}
                    <h3><a href="/profile/{{ c.user.id }}">{{ c.user }}</a></h3>
                    <p>{{ c.text }}</p>
                    <span>{{ c.timestamp }}</span> <span>likes:{{ c.votes }}</span>
                    <a href="/commentlikeforum/{{ c.id }}">Like</a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}