{% extends 'layout/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">
            <h1 class="display-4 fst-italic team-section"></h1>
            <hr/>
            {% for post in posts %}
                <div class="col-md-12 team-col">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            {# genre #}
                            <strong class="d-inline-block mb-2 text-primary">{{ post.genre }}</strong>
                            {# title #}
                            <a href="{% url 'post view' post.pk %}"><h3 class="mb-0">{{ post.title }}</h3></a>
                            {# timestamp #}
                            <div class="mb-1 text-muted">{{ post.timestamp }}</div>
                            {# body #}
                            <p class="card-text mb-auto">{{ post.body }}</p>
                            <a href="{% url 'post view' post.pk %}"><small class="mb-0">continue reading...</small></a>
                        </div>
                        {# image #}
                        <div class="col-auto d-none d-lg-block post-image thumbnail" style="height: 150px; width: 150px;">
                            {% if post.img %}
                                <img src="{{ post.img.url }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br/>
                <hr/>
            {% endfor %}

        </div>
    </div>

{% endblock %}