{% extends 'layout/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">
            <h1 class="display-4 fst-italic">Our Wooliest Post</h1>
            <h4>{{ featured_post.title }}</h4>
            <p class="lead my-3">
                {{ featured_post.body }}
            </p>
            <p class="lead p-md-12">
                {% if post.img %}
                    <img src="{{ post.img.url }}">
                {% endif %}
                <a href="/post/{{ featured_post.id }}" class="text-white fw-bold">Continue
                    reading...</a>
            </p>
        </div>
        <hr/>
    </div>

    {# post feed start #}
    <div class="row mb-2">
        {% for post in object_list %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {# genre #}
                        <strong class="d-inline-block mb-2 text-primary">{{ post.genre }}</strong>
                        {# title #}
                        <a href="{% url 'post view' post.pk %}"><h3 class="mb-0">{{ post.title }}</h3></a>
                        {# timestamp #}
                        <div class="mb-1 text-muted">{{ post.timestamp }}</div>
                        {# body #}
                        <p class="card-text mb-auto">{{ post.body }}</p>
                        <a href="{% url 'post view' post.pk %}"><small class="mb-0">continue reading...</small></a>
                    </div>
                    {# image #}
                    <div class="col-auto d-none d-lg-block post-image thumbnail">
                        {% if post.img %}
                            <img src="{{ post.img.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From The Wooly Team:
            </h3>

            <p>
                Hello!
                <br/>
                <br/>
                Thank you for visiting our capstone project for Q4. We built a news and forum style application with
                a likes feature for the news article/posts.
                <br/>
                <br/>
                For the full experience, please sign up for an account and post some articles! The most like
                article, or the 'wooliest' article is featured on the top banner.
                <br/>
                <br/>
                <br/>
                Please check out the <a href="/about">about section</a> to learn more about our team!
            </p>
        </div>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded aside-content">
                <p class="mb-0">
                <ul>
                    <h4 class="font-italic">Functionality</h4>
                    <li>
                        Authentication
                    </li>
                    <li>
                        News Articles
                    </li>
                    <li>
                        Comments
                    </li>
                    <li>
                        Forum
                    </li>
                    <li>
                        'Save' to a liked list
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    </main>

{% endblock %}