{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Wool Team News App: HOMEPAGE</h1>
    {% if user.is_authenticated %}
        Hi {{ user.first_name }}, you are on the homepage!!
        <p>
           <a href="{% url 'edit_profile' %}">edit_profile</a> 
            <a href="{% url 'logout' %}">Log Out</a>
        </p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}