{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Wool Team News App: HOMEPAGE</h1>
    {% if user.is_authenticated %}
        Hi {{ user.first_name }}, you are on the homepage!!
      <ul>
       {% for post in object_list%}
        <li> <a href="{% url 'post view' post.pk %}">{{post.title}}</a>-{{post.user.first_name}}
        <br/>
        <img src="{{post.img.url}}" width="200", height="200">
         <br/>
          {{post.body}}
          {{post.support}}
          <br/>
          {{post.timestamp}}
           </li>
       {% endfor %}
       </ul>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}