{% extends 'base.html' %}

{% block title %}
    News Item
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">News Item</h1>
            <div class='news_body'>
                <h1>{{ post.title }}</h1>
                <p><a href="/profile/{{ post.user.id }}">>by: {{ post.user }}</a></p>
                <p>category: {{ post.genre }}</p>
                <p>{{ favs }} people saved this</p>
                <div>
                    {{ post.body }}
                </div>
                {%if is_faved%}
                <span><a href="/favpost/{{post.id}}">Unsave</a></span>
                {%else%}
                <span><a href="/favpost/{{post.id}}">Save</a></span>
                {%endif%}
                <small>
                    <a href="/createforum/{{ post.id }}">Open a Discussion</a>
                </small>
                <img src="{{ post.img.url }}" class="post-image">
            </div>
            <!-- Comment section start -->
            <div class="comments">
                <h3>{{ lenght }} comments</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-md btn-outline-secondary" type="submit">Comment</button>
                </form>
                <button class="btn btn-md btn-outline-secondary" type="submit"><a href="/delete_post/{{ post.id }}">Delete Post</a></button>
            </div>

            <div>
                {% for c in comments %}
                    <h3><a href="/profile/{{ c.user.id }}">{{ c.user }}</a></h3>
                    <p>{{ c.text }}</p>
                    <span>{{ c.timestamp }}</span> <span>likes:{{ c.votes }}</span>
                    <a href="/commentlike/{{ c.id }}">Like</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}