{% extends 'layout/base.html' %}

{% block title %}
    News Item
{% endblock %}

{% block content %}

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0 post-banner">            <!-- <h1 class="display-4 fst-italic">News Item</h1> -->
            <div class='post-container'>
                <div class="post-header">
                    <h1 class="blog-post-title">{{ post.title }}</h1>
                    <div class="sub-header">
                        <small>By: <a href="/profile/{{ post.user.id }}">{{ post.user }}</a> / </small>
                        <small>Genre: {{ post.genre }} / </small>
                        <small>{{ favs }} People saved this / </small>
                        {%if post.user == request.user or request.user.is_superuser %}
                        <small>
                            <a href="/delete_post/{{ post.id }}">Delete Post</a>
                        </small>
                        {%endif%}
                    </div>
                </div>

                <div class="post-content">
                    <div class="post-image">
                        {% if post.img %}
                            <img src="{{ post.img.url }}" class="post-image" >
                        {% endif %}
                    </div>
                    <div class="post-body">{{ post.body }}</div>
                    <br>
                    {%if post.sources%}
                    <h4>Sources</h4>
                    <ul>
                        <li>
                            <a href="{{post.sources}}">{{post.sources}}</a>
                        </li>
                    </ul>
                    {%endif%}
                </div>
                <br>
                {% if is_faved %}
                    {# unsaved: unfilled heart #}
                    <a href="/favpost/{{ post.id }}">&#9829; Unsave</a>
                {% else %}
                    <a href="/favpost/{{ post.id }}">&#9825; Save</a>
                {% endif %}
                <br/>
                <br/>
                <small>
                    <a href="/createforum/{{ post.id }}">Click here to open a discussion about this post!</a>
                </small>
                <br/>
                <br/>
            </div>
            <!-- Comment section start -->
            <div class="comments">
                <p>{{ lenght }} comments</p>
                <form method="post" action="">
                    <small>Let your voice be heard, leave a question or comment!</small>
                    <br/>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-md btn-outline-secondary" type="submit">Comment</button>
                </form>
            </div>

            <div>
                {% for c in comments %}
                    <h3 ><a class='comment' href="/profile/{{ c.user.id }}">{{ c.user }}</a></h3>
                    <p>{{ c.text }}</p>
                    <span>{{ c.timestamp }}</span> <span>likes:{{ c.votes }}</span>
                    <p>
                        <a class='comment' href="/commentlike/{{ c.id }}">Like</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}